body {
  text-align: center;
  margin: 0;
  background-color: #e0e8ff;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  background-size: 100vw 40vh;
}

h1 {
  font-weight: 900;
  font-family: 'Red Hat Display', sans-serif;
}

h2 {
  font-weight: 700;
  display: inline;
  font-family: 'Red Hat Display', sans-serif;
}

.cost {
  display: inline-block;
  margin: 0;
}

.main-description {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.person {
  position: relative;
  top: 0;
  border-top-left-radius: 0.938rem;
  border-top-right-radius: 0.938rem;

}

.background {
  width: 100%;
  background-size: auto;
}

.card {
  background-color: white;
  width: 28.125rem;
  margin: 0 auto;
  border-radius: 15px;
  height: 42rem;
  position: relative;
  left: 30px;
  bottom: 18.75rem;
}

.payment {
  background-color: #f5f7ff;
  border-radius: 15px;
  width: 350px;
  height: 85px;
  margin: auto;

}

.music-icon {
  float: left;
  padding-left: 20px;
  padding-top: 15px;
  position: relative;
}

.cancel {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

.payment-button {
  text-decoration: none;
  font-weight: 500;
  background-color: #3829e0;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  width: 75%;
  box-shadow: 2px 2px #888888;
}

.payment-button:hover {
  background-color: #7280a7;
}

.payment-things {
  padding: 55px;
}

.cancel:hover {
  color: black;
}
